<div class="container-fluid">
<p class="text-center" class="fs-1" >Done!</p>



<html>
  <body>
  <div class="text-center">Hey Aaron! Welcome to Done</div>
  <div class="text-center"><%=Time.now.strftime("%A, %d %b %Y %l:%M %p")%></div>
  
  </body>
</html>

</div>
