 <form action="/run_message" method="post">
      <div>

        <label for="query_name">Name</label>
        <input type="text" id="query_name" name="query_name">

      </div>
        <label for="query_number">Phone Number</label>
        <input type="text" id="query_number" name="query_number">
         
      </div>

     
      <button>
        Create message
      </button>
    </form>
  </div>
</div>
