<div>
  <div>
    <h2>
      Add a new message
    </h2>

    <form action="/insert_message" method="post">
      <div>
        <input type="checkbox" id="automate_box" name="query_automate" value="1">

        <label for="automate_box">Automate</label>
      </div>

      <div>
        <label for="message_box">
          Message
        </label>

        <input type="text" id="message_box" name="query_message">
      </div>

      <div>
        <label for="due_date_box">
          Due date
        </label>

        <input type="date" id="due_date_box" name="query_due_date">
      </div>

      <div>
        <label for="task_name_box">
          Task name
        </label>

        <input type="text" id="task_name_box" name="query_task_name">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number">
      </div>

      <button>
        Create message
      </button>
    </form>
  </div>
</div>
